body{
	font-family: 'Roboto';
	font-size: 20px;
	font-weight: 300;
	margin: 0;
}
/* main header styling*/
header{
	background-color: #D6D58E;
	padding: 1rem;
	border-style: ridge;
	border-radius: 2px;
}
/* h1 header styling*/
header h1{
	margin: 0;
	color: #042940;
}
/* h2 header styling*/
header h2{
	margin: 0;
	color: #005C53;
	letter-spacing: .5px;
}
/* paragraph styling*/
header p{
	margin: 0;
	color: #DBF227;
	letter-spacing: .5px;
}
/* navigation styling*/
nav{
	background-color: #9FC131;
}
/* navigation unordered list styling*/
nav ul{
  	list-style-type: square;
	padding: .5rem 1rem;
	margin: 1px;
	display: inline-block;
	font-size: 48px;
}
/* psuedo hover styling*/
nav ul.a:hover {
  background-color: #808080;
}