body{
	font-family: 'Roboto';
	font-size: 20px;
	font-weight: 300;
	margin: 0;
	background-color:#c2c1d2;
}
/* main header styling*/
header{
	background-color: #b6b4de;
	padding: 1rem;
	border-style: ridge;
	border-radius: 2px;
}
/* h1 header styling*/
header h1{
	margin: 0;
	color: #35586f;
	font-weight: 700;
}

/* h2 header styling*/
header h2{
	margin: 0;
	color: red;
	letter-spacing: .5px;
}
/* paragraph styling*/
header p{
	margin: 0;
	color: red;
	letter-spacing: .5px;
}
/* navigation styling*/
nav{
	background-color: #946ade;
}
/* navigation unordered list styling*/
nav ul{
  	list-style-type: none;
	padding: 0 2vw;
	margin: 1px;
	display: flex;
	font-size: 24px;
}
nav a {
	padding: 0.9rem 2rem;
	text-decoration: none;
	color: #1f3442;
	font-weight: 500;
	display: block;
	padding: .83rem 2rem;
}
nav li.active a{
	background-color: #BA6ADE;
	color: #35586f;
}
/* psuedo hover styling*/
nav a:hover {
  background-color: #7b58b8;
}
ul.history li {
list-style-type:square;
}
div.mainborder {
border-style:groove;
border-width:3px;
border-color:purple;
}
img {
width:200px;
}
div.historyimage {
display:flex;
}
img:hover {
filter: saturate(0%) opacity(77.3%);
}
.ContributionForm label, .myForm select, .myForm [type=text], .myForm [type=tel], .myForm textarea {
	display: block;
}
.ContributionForm :required {
	background-color: #FFdbe9;
	color: #35586f;
}
legend {
    font-weight: bold;     
    font-size: 1.2em;       
    color: black;           
}
fieldset {
    display: block;
    margin-bottom: 10px;  
    padding: 10px;        
}

label {
    display: block;      
    margin-bottom: 5px;    
}
input, select, textarea {
    border-radius: 8px;   
    border: 2px solid #4a7b9b;  
    padding: 8px;          
    font-size: 14px;
	font-family: 'Roboto';      
}
textarea {
	width: 80%;           
    height: 20px;                  
    font-size: 14px; 
}
input[type="submit"] {
	border-radius: 8px;
	border: 2px solid #4a7b9b;
	padding: 8px;
	background-color:#946ade;
}
.ContributionForm label, .ContributionForm select, .ContributionForm [type=text], .ContributionForm [type=tel], .ContributionForm [type=email] {
	display:block;
}


